{"openapi":"3.1.0","info":{"title":"BitBadges Chain API","version":"latest","description":"The **chain LCD** — the REST surface a BitBadges node serves through the Cosmos gRPC-gateway, live at `https://lcd.bitbadges.io`. It reads consensus state directly from a node: no indexing, no API key, no account.\n\nIt is read-mostly. Every `GET` route here is a node query you can run from this page against mainnet. The `POST` routes named `<module>.Msg/<Method>` are the chain's **message definitions**, published so you can see the exact payload each transaction type carries. They are not REST endpoints — a message is signed and broadcast as a transaction (see the SDK), never posted to the LCD.\n\n## How this differs from the BitBadges API\n\n| | Chain API (this page) | [BitBadges API](/api-reference) |\n| --- | --- | --- |\n| Serves | `https://lcd.bitbadges.io` | `https://api.bitbadges.io` |\n| Source of truth | A node's own state, current block | The indexer, built from chain history |\n| Auth | None | API key |\n| Good for | Exact on-chain values, params, pool math | Metadata, activity, claims, search, sign-in |\n\nUse the chain API when you need the value the chain itself would return. Use the BitBadges API when you need anything the chain does not store — off-chain metadata, activity history, claims, or a query the chain has no index for.\n\n## Documented queries\n\nThe routes here are generated from the chain's proto definitions, so they carry only the summaries the protos carry. The hand-written explanation of each query — arguments, response shape, worked examples — lives at [Token Standard → Queries](/token-standard/queries).\n\nMessages are documented at [Token Standard → Messages](/token-standard/messages), and the modules around the standard at [Chain → Modules](/chain/modules)."},"servers":[{"url":"https://lcd.bitbadges.io","description":"BitBadges mainnet LCD"}],"tags":[{"name":"Tokenization","description":"`x/tokenization` — the BitBadges token standard. The `GET` routes are live node queries; the `POST` routes are the module's message definitions (payload shapes for signed transactions), not callable REST endpoints."},{"name":"GAMM","description":"`x/gamm` — the AMM pools. `GET` routes query pools, prices and swap estimates; the `POST` routes are message definitions for pool joins, exits and swaps."},{"name":"Pool manager","description":"`x/poolmanager` — routing across pools, taker fees and multi-hop swap estimation. `GET` routes are live queries; `POST` routes are message definitions."},{"name":"Send manager","description":"`x/sendmanager` — alias routing for sends, and the balances behind an alias path."},{"name":"Manager splitter","description":"`x/managersplitter` — splitting a collection manager across several addresses."},{"name":"IBC rate limit","description":"`x/ibc-rate-limit` — the outbound and inbound IBC transfer rate limits and their parameters."},{"name":"EVM","description":"The Cosmos EVM module — `MsgEthereumTx` and the VM parameters. Contract calls go to the EVM JSON-RPC, not here."},{"name":"Legacy tokenization versions","description":"Message definitions for superseded `x/tokenization` proto versions (`tokenization.v27` through the current-1). They stay published so historical transactions remain decodable. Build against the unversioned **Tokenization** routes instead."}],"paths":{"/bitbadges/bitbadgeschain/tokenization/get_address_list/{listId}":{"get":{"tags":["Tokenization"],"summary":"Queries an address list by ID.","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetAddressList","parameters":[{"name":"listId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetAddressListResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/tokenization/get_all_reserved_protocol_addresses":{"get":{"tags":["Tokenization"],"summary":"Queries all reserved protocol addresses.","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetAllReservedProtocolAddresses","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetAllReservedProtocolAddressesResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/tokenization/get_approvals_tracker/{collectionId}/{approvalLevel}/{approverAddress}/{amountTrackerId}/{trackerType}/{approvedAddress}":{"get":{"tags":["Tokenization"],"summary":"Queries an approvals tracker by ID.","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetApprovalTracker","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}},{"description":"\"collection\" or \"incoming\" or \"outgoing\"","name":"approvalLevel","in":"path","required":true,"schema":{"type":"string"}},{"description":"if approvalLevel is \"collection\", leave blank","name":"approverAddress","in":"path","required":true,"schema":{"type":"string"}},{"name":"amountTrackerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"trackerType","in":"path","required":true,"schema":{"type":"string"}},{"description":"if trackerType is \"overall\", leave blank","name":"approvedAddress","in":"path","required":true,"schema":{"type":"string"}},{"name":"approvalId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetApprovalTrackerResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/tokenization/get_balance_for_token/{collectionId}/{address}/{tokenId}":{"get":{"tags":["Tokenization"],"summary":"Queries the balance amount for a specific token ID at a specific time.","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetBalanceForToken","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"address","in":"path","required":true,"schema":{"type":"string"}},{"name":"tokenId","in":"path","required":true,"schema":{"type":"string"}},{"description":"Optional - milliseconds since epoch, defaults to current block time","name":"time","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetBalanceForTokenResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/tokenization/get_balance/{collectionId}/{address}":{"get":{"tags":["Tokenization"],"summary":"Queries an addresses balance for a collection, specified by its ID.","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetBalance","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetBalanceResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/tokenization/get_challenge_tracker/{collectionId}/{approvalLevel}/{approverAddress}/{challengeTrackerId}/{leafIndex}":{"get":{"tags":["Tokenization"],"summary":"Queries the number of times a given leaf has been used for a given merkle challenge.","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetChallengeTracker","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}},{"description":"\"collection\" or \"incoming\" or \"outgoing\"","name":"approvalLevel","in":"path","required":true,"schema":{"type":"string"}},{"description":"if approvalLevel is \"collection\", leave blank","name":"approverAddress","in":"path","required":true,"schema":{"type":"string"}},{"name":"challengeTrackerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"leafIndex","in":"path","required":true,"schema":{"type":"string"}},{"name":"approvalId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetChallengeTrackerResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/tokenization/get_collection_stats/{collectionId}":{"get":{"tags":["Tokenization"],"summary":"Queries collection stats (holder count and circulating supply) by collection ID.","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetCollectionStats","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetCollectionStatsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/tokenization/get_collection/{collectionId}":{"get":{"tags":["Tokenization"],"summary":"Queries a collection by ID.","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetCollection","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetCollectionResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/tokenization/get_dynamic_store_value/{storeId}/{address}":{"get":{"tags":["Tokenization"],"summary":"Queries a dynamic store value by store ID and address.","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetDynamicStoreValue","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string"}},{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetDynamicStoreValueResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/tokenization/get_dynamic_store/{storeId}":{"get":{"tags":["Tokenization"],"summary":"Queries a dynamic store by ID.","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetDynamicStore","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetDynamicStoreResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/tokenization/get_eth_signature_tracker/{collectionId}/{approvalLevel}/{approverAddress}/{approvalId}/{challengeTrackerId}/{signature}":{"get":{"tags":["Tokenization"],"summary":"Queries the number of times a given signature has been used for a given ETH signature challenge.","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetETHSignatureTracker","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}},{"description":"\"collection\" or \"incoming\" or \"outgoing\"","name":"approvalLevel","in":"path","required":true,"schema":{"type":"string"}},{"description":"if approvalLevel is \"collection\", leave blank","name":"approverAddress","in":"path","required":true,"schema":{"type":"string"}},{"name":"approvalId","in":"path","required":true,"schema":{"type":"string"}},{"name":"challengeTrackerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"signature","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetETHSignatureTrackerResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/tokenization/get_vote/{collectionId}/{approvalLevel}/{approverAddress}/{approvalId}/{proposalId}/{voterAddress}":{"get":{"tags":["Tokenization"],"summary":"Queries a vote by collection ID, approval level, approver address, approval ID, proposal ID, and voter address.","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetVote","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}},{"description":"\"collection\" or \"incoming\" or \"outgoing\"","name":"approvalLevel","in":"path","required":true,"schema":{"type":"string"}},{"description":"if approvalLevel is \"collection\", leave blank","name":"approverAddress","in":"path","required":true,"schema":{"type":"string"}},{"name":"approvalId","in":"path","required":true,"schema":{"type":"string"}},{"name":"proposalId","in":"path","required":true,"schema":{"type":"string"}},{"name":"voterAddress","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetVoteResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/tokenization/get_votes/{collectionId}/{approvalLevel}/{approverAddress}/{approvalId}/{proposalId}":{"get":{"tags":["Tokenization"],"summary":"Queries all votes for a proposal.","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetVotes","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}},{"description":"\"collection\" or \"incoming\" or \"outgoing\"","name":"approvalLevel","in":"path","required":true,"schema":{"type":"string"}},{"description":"if approvalLevel is \"collection\", leave blank","name":"approverAddress","in":"path","required":true,"schema":{"type":"string"}},{"name":"approvalId","in":"path","required":true,"schema":{"type":"string"}},{"name":"proposalId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetVotesResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/tokenization/get_wrappable_balances/{denom}/{address}":{"get":{"tags":["Tokenization"],"summary":"Queries the maximum wrappable amount for a given denom and user address.","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetWrappableBalances","parameters":[{"name":"denom","in":"path","required":true,"schema":{"type":"string"}},{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetWrappableBalancesResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/tokenization/is_address_reserved_protocol/{address}":{"get":{"tags":["Tokenization"],"summary":"Queries if an address is a reserved protocol address.","operationId":"GithubCombitbadgesbitbadgeschainQuery_IsAddressReservedProtocol","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryIsAddressReservedProtocolResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/tokenization/params":{"get":{"tags":["Tokenization"],"summary":"Parameters queries the parameters of the module.","operationId":"GithubCombitbadgesbitbadgeschainQuery_ParamsMixin53","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/tokenization.Msg/CastVote":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_CastVote","requestBody":{"description":"MsgCastVote allows a voter to cast or update their vote for a voting challenge.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgCastVote"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgCastVoteResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"CastVote"}},"/tokenization.Msg/CreateAddressLists":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_CreateAddressLists","requestBody":{"description":"MsgCreateAddressLists is used to create address lists.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgCreateAddressLists"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgCreateAddressListsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"CreateAddressLists"}},"/tokenization.Msg/CreateCollection":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_CreateCollection","requestBody":{"description":"MsgCreateCollection is used to create a new collection.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgCreateCollection"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgCreateCollectionResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"CreateCollection"}},"/tokenization.Msg/CreateDynamicStore":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_CreateDynamicStore","requestBody":{"description":"MsgCreateDynamicStore is used to create a new dynamic store.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgCreateDynamicStore"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgCreateDynamicStoreResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"CreateDynamicStore"}},"/tokenization.Msg/DeleteCollection":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_DeleteCollection","requestBody":{"description":"MsgDeleteCollection is used to delete a collection.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgDeleteCollection"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgDeleteCollectionResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"DeleteCollection"}},"/tokenization.Msg/DeleteDynamicStore":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_DeleteDynamicStore","requestBody":{"description":"MsgDeleteDynamicStore is used to delete a dynamic store.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgDeleteDynamicStore"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgDeleteDynamicStoreResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"DeleteDynamicStore"}},"/tokenization.Msg/DeleteIncomingApproval":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_DeleteIncomingApproval","requestBody":{"description":"MsgDeleteIncomingApproval is a helper message to delete a single incoming approval.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgDeleteIncomingApproval"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgDeleteIncomingApprovalResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"DeleteIncomingApproval"}},"/tokenization.Msg/DeleteOutgoingApproval":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_DeleteOutgoingApproval","requestBody":{"description":"MsgDeleteOutgoingApproval is a helper message to delete a single outgoing approval.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgDeleteOutgoingApproval"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgDeleteOutgoingApprovalResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"DeleteOutgoingApproval"}},"/tokenization.Msg/PurgeApprovals":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_PurgeApprovals","requestBody":{"description":"MsgPurgeApprovals is a helper message to purge expired approvals.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgPurgeApprovals"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgPurgeApprovalsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"PurgeApprovals"}},"/tokenization.Msg/SetCollectionApprovals":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SetCollectionApprovals","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetCollectionApprovals"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetCollectionApprovalsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SetCollectionApprovals"}},"/tokenization.Msg/SetCollectionMetadata":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SetCollectionMetadata","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetCollectionMetadata"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetCollectionMetadataResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SetCollectionMetadata"}},"/tokenization.Msg/SetCustomData":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SetCustomData","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetCustomData"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetCustomDataResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SetCustomData"}},"/tokenization.Msg/SetDynamicStoreValue":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SetDynamicStoreValue","requestBody":{"description":"MsgSetDynamicStoreValue is used to set a boolean value for a specific address in a dynamic store.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetDynamicStoreValue"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetDynamicStoreValueResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SetDynamicStoreValue"}},"/tokenization.Msg/SetIncomingApproval":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SetIncomingApproval","requestBody":{"description":"MsgSetIncomingApproval is a helper message to set a single incoming approval.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetIncomingApproval"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetIncomingApprovalResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SetIncomingApproval"}},"/tokenization.Msg/SetIsArchived":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SetIsArchived","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetIsArchived"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetIsArchivedResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SetIsArchived"}},"/tokenization.Msg/SetManager":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SetManager","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetManager"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetManagerResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SetManager"}},"/tokenization.Msg/SetOutgoingApproval":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SetOutgoingApproval","requestBody":{"description":"MsgSetOutgoingApproval is a helper message to set a single outgoing approval.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetOutgoingApproval"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetOutgoingApprovalResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SetOutgoingApproval"}},"/tokenization.Msg/SetReservedProtocolAddress":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SetReservedProtocolAddress","requestBody":{"description":"MsgSetReservedProtocolAddress sets or unsets a reserved protocol address (governance-only).","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetReservedProtocolAddress"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetReservedProtocolAddressResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SetReservedProtocolAddress"}},"/tokenization.Msg/SetStandards":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SetStandards","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetStandards"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetStandardsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SetStandards"}},"/tokenization.Msg/SetTokenMetadata":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SetTokenMetadata","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetTokenMetadata"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetTokenMetadataResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SetTokenMetadata"}},"/tokenization.Msg/SetValidTokenIds":{"post":{"tags":["Tokenization"],"summary":"Helper message types for UniversalUpdateCollection subsets","operationId":"GithubCombitbadgesbitbadgeschainMsg_SetValidTokenIds","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetValidTokenIds"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgSetValidTokenIdsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/tokenization.Msg/TransferTokens":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_TransferTokens","requestBody":{"description":"MsgTransferTokens is used to transfer tokens.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgTransferTokens"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgTransferTokensResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"TransferTokens"}},"/tokenization.Msg/UniversalUpdateCollection":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_UniversalUpdateCollection","requestBody":{"description":"MsgUniversalUpdateCollection is used to define MsgServer types for all requests and responses for Msgs of the tokens module.\nIt is a universal interface that can be used for both creating and updating collections.\nWe have it defined for legacy purposes, but it is recommended to use MsgCreateCollection and MsgUpdateCollection instead.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgUniversalUpdateCollection"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgUniversalUpdateCollectionResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"UniversalUpdateCollection"}},"/tokenization.Msg/UpdateCollection":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_UpdateCollection","requestBody":{"description":"MsgUpdateCollection is used to update a collection.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgUpdateCollection"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgUpdateCollectionResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"UpdateCollection"}},"/tokenization.Msg/UpdateDynamicStore":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_UpdateDynamicStore","requestBody":{"description":"MsgUpdateDynamicStore is used to update an existing dynamic store.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgUpdateDynamicStore"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgUpdateDynamicStoreResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"UpdateDynamicStore"}},"/tokenization.Msg/UpdateParams":{"post":{"tags":["Tokenization"],"summary":"UpdateParams defines a (governance) operation for updating the module\nparameters. The authority defaults to the x/gov module account.","operationId":"GithubCombitbadgesbitbadgeschainMsg_UpdateParamsMixin56","requestBody":{"description":"MsgUpdateParams is the Msg/UpdateParams request type.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgUpdateParams"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgUpdateParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/tokenization.Msg/UpdateUserApprovals":{"post":{"tags":["Tokenization"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_UpdateUserApprovals","requestBody":{"description":"MsgUpdateUserApprovals is used to update user approvals.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgUpdateUserApprovals"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.MsgUpdateUserApprovalsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"UpdateUserApprovals"}},"/gamm.poolmodels.balancer.Msg/CreateBalancerPool":{"post":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_CreateBalancerPool","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.poolmodels.balancer.MsgCreateBalancerPool"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.poolmodels.balancer.MsgCreateBalancerPoolResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"CreateBalancerPool"}},"/gamm.poolmodels.stableswap.Msg/CreateStableswapPool":{"post":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_CreateStableswapPool","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.poolmodels.stableswap.MsgCreateStableswapPool"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.poolmodels.stableswap.MsgCreateStableswapPoolResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"CreateStableswapPool"}},"/gamm.poolmodels.stableswap.Msg/StableSwapAdjustScalingFactors":{"post":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_StableSwapAdjustScalingFactors","requestBody":{"description":"Sender must be the pool's scaling_factor_governor in order for the tx to\nsucceed. Adjusts stableswap scaling factors.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.poolmodels.stableswap.MsgStableSwapAdjustScalingFactors"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.poolmodels.stableswap.MsgStableSwapAdjustScalingFactorsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"StableSwapAdjustScalingFactors"}},"/gamm.v1beta1.Msg/ExitPool":{"post":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_ExitPool","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgExitPool"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgExitPoolResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"ExitPool"}},"/gamm.v1beta1.Msg/ExitSwapExternAmountOut":{"post":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_ExitSwapExternAmountOut","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgExitSwapExternAmountOut"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgExitSwapExternAmountOutResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"ExitSwapExternAmountOut"}},"/gamm.v1beta1.Msg/ExitSwapShareAmountIn":{"post":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_ExitSwapShareAmountIn","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgExitSwapShareAmountIn"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgExitSwapShareAmountInResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"ExitSwapShareAmountIn"}},"/gamm.v1beta1.Msg/JoinPool":{"post":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_JoinPool","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgJoinPool"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgJoinPoolResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"JoinPool"}},"/gamm.v1beta1.Msg/JoinSwapExternAmountIn":{"post":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_JoinSwapExternAmountIn","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgJoinSwapExternAmountIn"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgJoinSwapExternAmountInResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"JoinSwapExternAmountIn"}},"/gamm.v1beta1.Msg/JoinSwapShareAmountOut":{"post":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_JoinSwapShareAmountOut","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgJoinSwapShareAmountOut"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgJoinSwapShareAmountOutResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"JoinSwapShareAmountOut"}},"/gamm.v1beta1.Msg/SwapExactAmountIn":{"post":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SwapExactAmountIn","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgSwapExactAmountIn"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgSwapExactAmountInResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SwapExactAmountIn"}},"/gamm.v1beta1.Msg/SwapExactAmountInWithIBCTransfer":{"post":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SwapExactAmountInWithIBCTransfer","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgSwapExactAmountInWithIBCTransfer"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgSwapExactAmountInWithIBCTransferResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SwapExactAmountInWithIBCTransfer"}},"/gamm.v1beta1.Msg/SwapExactAmountOut":{"post":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SwapExactAmountOut","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgSwapExactAmountOut"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.MsgSwapExactAmountOutResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SwapExactAmountOut"}},"/gamm.v1beta1.Query/CalcJoinPoolNoSwapShares":{"post":{"tags":["GAMM"],"summary":"Simulates joining pool without a swap. Returns the amount of shares you'd\nget and tokens needed to provide","operationId":"GithubCombitbadgesbitbadgeschainQuery_CalcJoinPoolNoSwapShares","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryCalcJoinPoolNoSwapSharesRequest"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryCalcJoinPoolNoSwapSharesResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/gamm/v1beta1/{pool_id}/estimate/swap_exact_amount_in":{"get":{"tags":["GAMM"],"summary":"Deprecated: please use the alternative in x/poolmanager","operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateSwapExactAmountIn","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"sender","in":"query","schema":{"type":"string"}},{"name":"token_in","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QuerySwapExactAmountInResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/gamm/v1beta1/{pool_id}/estimate/swap_exact_amount_out":{"get":{"tags":["GAMM"],"summary":"Deprecated: please use the alternative in x/poolmanager","operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateSwapExactAmountOut","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"sender","in":"query","schema":{"type":"string"}},{"name":"token_out","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QuerySwapExactAmountOutResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/gamm/v1beta1/filtered_pools":{"get":{"tags":["GAMM"],"summary":"PoolsWithFilter allows you to query specific pools with requested\nparameters","operationId":"GithubCombitbadgesbitbadgeschainQuery_PoolsWithFilter","parameters":[{"description":"String of the coins in single string separated by comma. Ex)\n10uatom,100uosmo","name":"min_liquidity","in":"query","schema":{"type":"string"}},{"name":"pool_type","in":"query","schema":{"type":"string"}},{"description":"key is a value returned in PageResponse.next_key to begin\nquerying the next page most efficiently. Only one of offset or key\nshould be set.","name":"pagination.key","in":"query","schema":{"type":"string","format":"byte"}},{"description":"offset is a numeric offset that can be used when key is unavailable.\nIt is less efficient than using key. Only one of offset or key should\nbe set.","name":"pagination.offset","in":"query","schema":{"type":"string","format":"uint64"}},{"description":"limit is the total number of results to be returned in the result page.\nIf left empty it will default to a value to be set by each app.","name":"pagination.limit","in":"query","schema":{"type":"string","format":"uint64"}},{"description":"count_total is set to true  to indicate that the result set should include\na count of the total number of items available for pagination in UIs.\ncount_total is only respected when offset is used. It is ignored when key\nis set.","name":"pagination.count_total","in":"query","schema":{"type":"boolean"}},{"description":"reverse is set to true if results are to be returned in the descending order.","name":"pagination.reverse","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryPoolsWithFilterResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/gamm/v1beta1/num_pools":{"get":{"tags":["GAMM"],"summary":"Deprecated: please use the alternative in x/poolmanager","operationId":"GithubCombitbadgesbitbadgeschainQuery_NumPools","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryNumPoolsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/gamm/v1beta1/params":{"get":{"tags":["GAMM"],"summary":"Params returns gamm module params.","operationId":"GithubCombitbadgesbitbadgeschainQuery_Params","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.ParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/gamm/v1beta1/pool_type/{pool_id}":{"get":{"tags":["GAMM"],"summary":"PoolType returns the type of the pool.\nReturns \"Balancer\" as a string literal when the pool is a balancer pool.\nErrors if the pool is failed to be type caseted.","operationId":"GithubCombitbadgesbitbadgeschainQuery_PoolType","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryPoolTypeResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/gamm/v1beta1/pools":{"get":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_Pools","parameters":[{"description":"key is a value returned in PageResponse.next_key to begin\nquerying the next page most efficiently. Only one of offset or key\nshould be set.","name":"pagination.key","in":"query","schema":{"type":"string","format":"byte"}},{"description":"offset is a numeric offset that can be used when key is unavailable.\nIt is less efficient than using key. Only one of offset or key should\nbe set.","name":"pagination.offset","in":"query","schema":{"type":"string","format":"uint64"}},{"description":"limit is the total number of results to be returned in the result page.\nIf left empty it will default to a value to be set by each app.","name":"pagination.limit","in":"query","schema":{"type":"string","format":"uint64"}},{"description":"count_total is set to true  to indicate that the result set should include\na count of the total number of items available for pagination in UIs.\ncount_total is only respected when offset is used. It is ignored when key\nis set.","name":"pagination.count_total","in":"query","schema":{"type":"boolean"}},{"description":"reverse is set to true if results are to be returned in the descending order.","name":"pagination.reverse","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryPoolsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"pools"}},"/osmosis/gamm/v1beta1/pools/{pool_id}":{"get":{"tags":["GAMM"],"summary":"Deprecated: please use the alternative in x/poolmanager","operationId":"GithubCombitbadgesbitbadgeschainQuery_Pool","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryPoolResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/gamm/v1beta1/pools/{pool_id}/exit_swap_share_amount_in":{"get":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_CalcExitPoolCoinsFromShares","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"share_in_amount","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryCalcExitPoolCoinsFromSharesResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/gamm/v1beta1/pools/{pool_id}/join_swap_exact_in":{"get":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_CalcJoinPoolShares","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryCalcJoinPoolSharesResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/gamm/v1beta1/pools/{pool_id}/params":{"get":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_PoolParams","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryPoolParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"params"}},"/osmosis/gamm/v1beta1/pools/{pool_id}/prices":{"get":{"tags":["GAMM"],"summary":"SpotPrice defines a gRPC query handler that returns the spot price given\na base denomination and a quote denomination.","operationId":"GithubCombitbadgesbitbadgeschainQuery_SpotPrice","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"base_asset_denom","in":"query","schema":{"type":"string"}},{"name":"quote_asset_denom","in":"query","schema":{"type":"string"}},{"description":"DEPRECATED","name":"withSwapFee","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QuerySpotPriceResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/gamm/v1beta1/pools/{pool_id}/total_pool_liquidity":{"get":{"tags":["GAMM"],"summary":"Deprecated: please use the alternative in x/poolmanager","operationId":"GithubCombitbadgesbitbadgeschainQuery_TotalPoolLiquidity","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryTotalPoolLiquidityResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/gamm/v1beta1/pools/{pool_id}/total_shares":{"get":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_TotalShares","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryTotalSharesResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/gamm/v1beta1/total_liquidity":{"get":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_TotalLiquidity","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryTotalLiquidityResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/gamm/v2/pools/{pool_id}/prices":{"get":{"tags":["GAMM"],"summary":"Deprecated: please use alternate in x/poolmanager","operationId":"GithubCombitbadgesbitbadgeschainQuery_SpotPriceMixin13","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"base_asset_denom","in":"query","schema":{"type":"string"}},{"name":"quote_asset_denom","in":"query","schema":{"type":"string"}},{"description":"DEPRECATED","name":"withSwapFee","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v2.QuerySpotPriceResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/pools/{pool_id}/prices":{"get":{"tags":["Pool manager"],"summary":"SpotPrice defines a gRPC query handler that returns the spot price given\na base denomination and a quote denomination.","operationId":"GithubCombitbadgesbitbadgeschainQuery_SpotPriceMixin26","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"base_asset_denom","in":"query","schema":{"type":"string"}},{"name":"quote_asset_denom","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.SpotPriceResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/{denom}/registered_alloyed_pool_from_denom":{"get":{"tags":["Pool manager"],"summary":"RegisteredAlloyedPoolFromDenom returns the registered alloyed pool state\nfrom the given denom. The registered alloyed pool contains the pool's\ncontract address, along with the current distribution composition of taker\nfee share denoms within the alloyed pool.","operationId":"GithubCombitbadgesbitbadgeschainQuery_RegisteredAlloyedPoolFromDenom","parameters":[{"name":"denom","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.RegisteredAlloyedPoolFromDenomResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/{denom}/taker_fee_share_agreement_from_denom":{"get":{"tags":["Pool manager"],"summary":"TakerFeeShareAgreementFromDenom returns the taker fee share agreement for a\ngiven denom. A taker fee share agreement includes the denom of the denom\ngetting the taker fees, the percent of the taker fees that the denom gets\nwhen it is in the route being traded against, and the address that the\ntaker fees are sent to at epoch.","operationId":"GithubCombitbadgesbitbadgeschainQuery_TakerFeeShareAgreementFromDenom","parameters":[{"name":"denom","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.TakerFeeShareAgreementFromDenomResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/{pool_id}/estimate_out/single_pool_swap_exact_amount_out":{"get":{"tags":["Pool manager"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateSinglePoolSwapExactAmountOut","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"token_in_denom","in":"query","schema":{"type":"string"}},{"name":"token_out","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.EstimateSwapExactAmountOutResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/{pool_id}/estimate_trade":{"get":{"tags":["Pool manager"],"summary":"EstimateTradeBasedOnPriceImpact returns an estimated trade based on price\nimpact, if a trade cannot be estimated a 0 input and 0 output would be\nreturned.","operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateTradeBasedOnPriceImpact","parameters":[{"description":"pool_id is the identifier of the liquidity pool that the trade will occur\non.","name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"from_coin.denom","in":"query","schema":{"type":"string"}},{"name":"from_coin.amount","in":"query","schema":{"type":"string"}},{"description":"to_coin_denom is the denom identifier of the token that the user wants to\nbuy.","name":"to_coin_denom","in":"query","schema":{"type":"string"}},{"description":"max_price_impact is the maximum percentage that the user is willing\nto affect the price of the liquidity pool.","name":"max_price_impact","in":"query","schema":{"type":"string"}},{"description":"external_price is an optional external price that the user can enter.\nIt adjusts the MaxPriceImpact as the SpotPrice of a pool can be changed at\nany time.","name":"external_price","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.EstimateTradeBasedOnPriceImpactResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/{pool_id}/estimate/single_pool_swap_exact_amount_in":{"get":{"tags":["Pool manager"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateSinglePoolSwapExactAmountIn","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"token_in","in":"query","schema":{"type":"string"}},{"name":"token_out_denom","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.EstimateSwapExactAmountInResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/{pool_id}/estimate/swap_exact_amount_in":{"get":{"tags":["Pool manager"],"summary":"Estimates swap amount out given in.","operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateSwapExactAmountInMixin26","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"description":"DEPRECATED","name":"sender","in":"query","schema":{"type":"string"}},{"name":"token_in","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.EstimateSwapExactAmountInResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/{pool_id}/estimate/swap_exact_amount_in_with_primitive_types":{"get":{"tags":["Pool manager"],"summary":"EstimateSwapExactAmountInWithPrimitiveTypes is an alternative query for\nEstimateSwapExactAmountIn. Supports query via GRPC-Gateway by using\nprimitive types instead of repeated structs. Each index in the\nroutes_pool_id field corresponds to the respective routes_token_out_denom\nvalue, thus they are required to have the same length and are grouped\ntogether as pairs.\nexample usage:\nhttp://0.0.0.0:1317/osmosis/poolmanager/v1beta1/1/estimate/\nswap_exact_amount_in_with_primitive_types?token_in=100000stake&routes_token_out_denom=uatom\n&routes_token_out_denom=uion&routes_pool_id=1&routes_pool_id=2","operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateSwapExactAmountInWithPrimitiveTypes","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"token_in","in":"query","schema":{"type":"string"}},{"style":"form","explode":true,"name":"routes_pool_id","in":"query","schema":{"type":"array","items":{"type":"string","format":"uint64"}}},{"style":"form","explode":true,"name":"routes_token_out_denom","in":"query","schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.EstimateSwapExactAmountInResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/{pool_id}/estimate/swap_exact_amount_out":{"get":{"tags":["Pool manager"],"summary":"Estimates swap amount in given out.","operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateSwapExactAmountOutMixin26","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"description":"DEPRECATED","name":"sender","in":"query","schema":{"type":"string"}},{"name":"token_out","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.EstimateSwapExactAmountOutResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/{pool_id}/estimate/swap_exact_amount_out_with_primitive_types":{"get":{"tags":["Pool manager"],"summary":"Estimates swap amount in given out.","operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateSwapExactAmountOutWithPrimitiveTypes","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"style":"form","explode":true,"name":"routes_pool_id","in":"query","schema":{"type":"array","items":{"type":"string","format":"uint64"}}},{"style":"form","explode":true,"name":"routes_token_in_denom","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"token_out","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.EstimateSwapExactAmountOutResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/{pool_id}/registered_alloyed_pool_from_pool_id":{"get":{"tags":["Pool manager"],"summary":"RegisteredAlloyedPoolFromPoolId returns the registered alloyed pool state\nfrom the given pool id. The registered alloyed pool contains the pool's\ncontract address, along with the current distribution composition of taker\nfee share denoms within the alloyed pool.","operationId":"GithubCombitbadgesbitbadgeschainQuery_RegisteredAlloyedPoolFromPoolId","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.RegisteredAlloyedPoolFromPoolIdResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/{takerFeeDenom}/{denom}/taker_fee_share_denoms_to_accrued_value":{"get":{"tags":["Pool manager"],"summary":"TakerFeeShareDenomsToAccruedValue returns the accrued value (as an Int) of\nthe given taker fee denom (the collected fees) for the given fee share\ndenom (the denom with the taker fee share agreement)","operationId":"GithubCombitbadgesbitbadgeschainQuery_TakerFeeShareDenomsToAccruedValue","parameters":[{"name":"takerFeeDenom","in":"path","required":true,"schema":{"type":"string"}},{"name":"denom","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.TakerFeeShareDenomsToAccruedValueResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/all_registered_alloyed_pools":{"get":{"tags":["Pool manager"],"summary":"AllRegisteredAlloyedPools returns all registered alloyed pools. The\nregistered alloyed pool contains the pool's contract address, along with\nthe current distribution composition of taker fee share denoms within the\nalloyed pool.","operationId":"GithubCombitbadgesbitbadgeschainQuery_AllRegisteredAlloyedPools","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.AllRegisteredAlloyedPoolsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/all_taker_fee_share_accumulators":{"get":{"tags":["Pool manager"],"summary":"AllTakerFeeShareAccumulators returns all taker fee share accumulators. A\ntaker fee share accumulator includes the denom of the denom getting the\ntaker fees, and an accumulated value of coins that the denom has accrued\nsince the last time it was distributed in the epoch prior.","operationId":"GithubCombitbadgesbitbadgeschainQuery_AllTakerFeeShareAccumulators","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.AllTakerFeeShareAccumulatorsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/all_taker_fee_share_agreements":{"get":{"tags":["Pool manager"],"summary":"AllTakerFeeShareAgreements returns all taker fee share agreements.\nA taker fee share agreement includes the denom of the denom getting the\ntaker fees, the percent of the taker fees that the denom gets when it is\nin the route being traded against, and the address that the taker fees are\nsent to at epoch.","operationId":"GithubCombitbadgesbitbadgeschainQuery_AllTakerFeeShareAgreements","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.AllTakerFeeShareAgreementsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/all-pools":{"get":{"tags":["Pool manager"],"summary":"AllPools returns all pools on the Osmosis chain sorted by IDs.","operationId":"GithubCombitbadgesbitbadgeschainQuery_AllPools","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.AllPoolsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/list-pools-by-denom":{"get":{"tags":["Pool manager"],"summary":"ListPoolsByDenom return all pools by denom","operationId":"GithubCombitbadgesbitbadgeschainQuery_ListPoolsByDenom","parameters":[{"name":"denom","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.ListPoolsByDenomResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/num_pools":{"get":{"tags":["Pool manager"],"summary":"Returns the total number of pools existing in Osmosis.","operationId":"GithubCombitbadgesbitbadgeschainQuery_NumPoolsMixin26","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.NumPoolsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/Params":{"get":{"tags":["Pool manager"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_ParamsMixin26","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.ParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"Params"}},"/osmosis/poolmanager/v1beta1/pools/{pool_id}":{"get":{"tags":["Pool manager"],"summary":"Pool returns the Pool specified by the pool id","operationId":"GithubCombitbadgesbitbadgeschainQuery_PoolMixin26","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.PoolResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/pools/{pool_id}/total_pool_liquidity":{"get":{"tags":["Pool manager"],"summary":"TotalPoolLiquidity returns the total liquidity of the specified pool.","operationId":"GithubCombitbadgesbitbadgeschainQuery_TotalPoolLiquidityMixin26","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.TotalPoolLiquidityResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/pools/{pool_id}/total_volume":{"get":{"tags":["Pool manager"],"summary":"TotalVolumeForPool returns the total volume of the specified pool.","operationId":"GithubCombitbadgesbitbadgeschainQuery_TotalVolumeForPool","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.TotalVolumeForPoolResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/total_liquidity":{"get":{"tags":["Pool manager"],"summary":"TotalLiquidity returns the total liquidity across all pools.","operationId":"GithubCombitbadgesbitbadgeschainQuery_TotalLiquidityMixin26","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.TotalLiquidityResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v1beta1/trading_pair_takerfee":{"get":{"tags":["Pool manager"],"summary":"TradingPairTakerFee returns the taker fee for a given set of denoms","operationId":"GithubCombitbadgesbitbadgeschainQuery_TradingPairTakerFee","parameters":[{"name":"denom_0","in":"query","schema":{"type":"string"}},{"name":"denom_1","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.TradingPairTakerFeeResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/osmosis/poolmanager/v2/pools/{pool_id}/prices":{"get":{"tags":["Pool manager"],"summary":"SpotPriceV2 defines a gRPC query handler that returns the spot price given\na base denomination and a quote denomination.\nThe returned spot price has 36 decimal places. However, some of\nmodules perform sig fig rounding so most of the rightmost decimals can be\nzeroes.","operationId":"GithubCombitbadgesbitbadgeschainQuery_SpotPriceV2","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"base_asset_denom","in":"query","schema":{"type":"string"}},{"name":"quote_asset_denom","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v2.SpotPriceResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/poolmanager.v1beta1.Msg/SetDenomPairTakerFee":{"post":{"tags":["Pool manager"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SetDenomPairTakerFee","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.MsgSetDenomPairTakerFee"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.MsgSetDenomPairTakerFeeResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SetDenomPairTakerFee"}},"/poolmanager.v1beta1.Msg/SetTakerFeeShareAgreementForDenom":{"post":{"tags":["Pool manager"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SetTakerFeeShareAgreementForDenom","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.MsgSetTakerFeeShareAgreementForDenom"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.MsgSetTakerFeeShareAgreementForDenomResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SetTakerFeeShareAgreementForDenom"}},"/poolmanager.v1beta1.Msg/SplitRouteSwapExactAmountIn":{"post":{"tags":["Pool manager"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SplitRouteSwapExactAmountIn","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.MsgSplitRouteSwapExactAmountIn"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.MsgSplitRouteSwapExactAmountInResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SplitRouteSwapExactAmountIn"}},"/poolmanager.v1beta1.Msg/SplitRouteSwapExactAmountOut":{"post":{"tags":["Pool manager"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SplitRouteSwapExactAmountOut","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.MsgSplitRouteSwapExactAmountOut"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.MsgSplitRouteSwapExactAmountOutResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SplitRouteSwapExactAmountOut"}},"/poolmanager.v1beta1.Msg/SwapExactAmountIn":{"post":{"tags":["Pool manager"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SwapExactAmountInMixin30","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.MsgSwapExactAmountIn"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.MsgSwapExactAmountInResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SwapExactAmountIn"}},"/poolmanager.v1beta1.Msg/SwapExactAmountOut":{"post":{"tags":["Pool manager"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_SwapExactAmountOutMixin30","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.MsgSwapExactAmountOut"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.MsgSwapExactAmountOutResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"SwapExactAmountOut"}},"/bitbadges/bitbadgeschain/sendmanager/balance/{address}/{denom}":{"get":{"tags":["Send manager"],"summary":"Balance queries the balance of a specific denom for an address with alias routing.\nThis allows querying both standard coins and alias denoms (e.g., badgeslp:).","operationId":"GithubCombitbadgesbitbadgeschainQuery_Balance","parameters":[{"description":"address is the address to query balances for.","name":"address","in":"path","required":true,"schema":{"type":"string"}},{"description":"denom is the specific denomination to query the balance for.","name":"denom","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sendmanager.QueryBalanceResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/sendmanager/params":{"get":{"tags":["Send manager"],"summary":"Parameters queries the parameters of the module.","operationId":"GithubCombitbadgesbitbadgeschainQuery_ParamsMixin34","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sendmanager.QueryParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/sendmanager.Msg/SendWithAliasRouting":{"post":{"tags":["Send manager"],"summary":"SendWithAliasRouting defines a message for sending coins with alias denom routing.\nThis allows sending both standard coins and alias denoms (e.g., badgeslp:) through the sendmanager.","operationId":"GithubCombitbadgesbitbadgeschainMsg_SendWithAliasRouting","requestBody":{"description":"MsgSendWithAliasRouting defines a message for sending coins with alias denom routing.\nThis message mirrors cosmos bank MsgSend but routes through sendmanager to handle\nboth standard coins and alias denoms (e.g., badgeslp:).","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sendmanager.MsgSendWithAliasRouting"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sendmanager.MsgSendWithAliasRoutingResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/sendmanager.Msg/UpdateParams":{"post":{"tags":["Send manager"],"summary":"UpdateParams defines a (governance) operation for updating the module\nparameters. The authority defaults to the x/gov module account.","operationId":"GithubCombitbadgesbitbadgeschainMsg_UpdateParamsMixin35","requestBody":{"description":"MsgUpdateParams is the Msg/UpdateParams request type.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sendmanager.MsgUpdateParams"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sendmanager.MsgUpdateParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/managersplitter":{"get":{"tags":["Manager splitter"],"summary":"AllManagerSplitters queries all manager splitters.","operationId":"GithubCombitbadgesbitbadgeschainQuery_AllManagerSplitters","parameters":[{"description":"key is a value returned in PageResponse.next_key to begin\nquerying the next page most efficiently. Only one of offset or key\nshould be set.","name":"pagination.key","in":"query","schema":{"type":"string","format":"byte"}},{"description":"offset is a numeric offset that can be used when key is unavailable.\nIt is less efficient than using key. Only one of offset or key should\nbe set.","name":"pagination.offset","in":"query","schema":{"type":"string","format":"uint64"}},{"description":"limit is the total number of results to be returned in the result page.\nIf left empty it will default to a value to be set by each app.","name":"pagination.limit","in":"query","schema":{"type":"string","format":"uint64"}},{"description":"count_total is set to true  to indicate that the result set should include\na count of the total number of items available for pagination in UIs.\ncount_total is only respected when offset is used. It is ignored when key\nis set.","name":"pagination.count_total","in":"query","schema":{"type":"boolean"}},{"description":"reverse is set to true if results are to be returned in the descending order.","name":"pagination.reverse","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/managersplitter.QueryAllManagerSplittersResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/managersplitter/{address}":{"get":{"tags":["Manager splitter"],"summary":"ManagerSplitter queries a manager splitter by address.","operationId":"GithubCombitbadgesbitbadgeschainQuery_ManagerSplitter","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/managersplitter.QueryGetManagerSplitterResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/bitbadges/bitbadgeschain/managersplitter/params":{"get":{"tags":["Manager splitter"],"summary":"Parameters queries the parameters of the module.","operationId":"GithubCombitbadgesbitbadgeschainQuery_ParamsMixin22","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/managersplitter.QueryParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/managersplitter.Msg/CreateManagerSplitter":{"post":{"tags":["Manager splitter"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_CreateManagerSplitter","requestBody":{"description":"MsgCreateManagerSplitter creates a new manager splitter entity.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/managersplitter.MsgCreateManagerSplitter"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/managersplitter.MsgCreateManagerSplitterResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"CreateManagerSplitter"}},"/managersplitter.Msg/DeleteManagerSplitter":{"post":{"tags":["Manager splitter"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_DeleteManagerSplitter","requestBody":{"description":"MsgDeleteManagerSplitter deletes a manager splitter entity.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/managersplitter.MsgDeleteManagerSplitter"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/managersplitter.MsgDeleteManagerSplitterResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"DeleteManagerSplitter"}},"/managersplitter.Msg/ExecuteUniversalUpdateCollection":{"post":{"tags":["Manager splitter"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_ExecuteUniversalUpdateCollection","requestBody":{"description":"MsgExecuteUniversalUpdateCollection executes a UniversalUpdateCollection message\nthrough the manager splitter, checking permissions before execution.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/managersplitter.MsgExecuteUniversalUpdateCollection"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/managersplitter.MsgExecuteUniversalUpdateCollectionResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"ExecuteUniversalUpdateCollection"}},"/managersplitter.Msg/UpdateManagerSplitter":{"post":{"tags":["Manager splitter"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_UpdateManagerSplitter","requestBody":{"description":"MsgUpdateManagerSplitter updates an existing manager splitter entity.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/managersplitter.MsgUpdateManagerSplitter"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/managersplitter.MsgUpdateManagerSplitterResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"UpdateManagerSplitter"}},"/managersplitter.Msg/UpdateParams":{"post":{"tags":["Manager splitter"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_UpdateParamsMixin23","requestBody":{"description":"MsgUpdateParams is the Msg/UpdateParams request type.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/managersplitter.MsgUpdateParams"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/managersplitter.MsgUpdateParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"UpdateParams"}},"/ibcratelimit.Msg/UpdateParams":{"post":{"tags":["IBC rate limit"],"summary":"UpdateParams defines a (governance) operation for updating the module\nparameters. The authority defaults to the x/gov module account.","operationId":"GithubCombitbadgesbitbadgeschainMsg_UpdateParams","requestBody":{"description":"MsgUpdateParams is the Msg/UpdateParams request type.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ibcratelimit.MsgUpdateParams"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ibcratelimit.MsgUpdateParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/ibcratelimit.Msg/UpdateRateLimit":{"post":{"tags":["IBC rate limit"],"summary":"UpdateRateLimit defines a (governance) operation for updating or adding a single rate limit.\nIf a rate limit with the same channel_id and denom exists, it will be updated.\nOtherwise, it will be appended to the list. The authority defaults to the x/gov module account.","operationId":"GithubCombitbadgesbitbadgeschainMsg_UpdateRateLimit","requestBody":{"description":"MsgUpdateRateLimit is the Msg/UpdateRateLimit request type.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ibcratelimit.MsgUpdateRateLimit"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ibcratelimit.MsgUpdateRateLimitResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/cosmos.evm.vm.v1.Msg/RegisterPreinstalls":{"post":{"tags":["EVM"],"summary":"RegisterPreinstalls defines a governance operation for directly registering\npreinstalled contracts in the EVM. The authority is the same as is used for\nParams updates.","operationId":"Erc20Msg_RegisterPreinstalls","requestBody":{"description":"MsgRegisterPreinstalls defines a Msg for creating preinstalls in evm state.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cosmos.evm.vm.v1.MsgRegisterPreinstalls"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cosmos.evm.vm.v1.MsgRegisterPreinstallsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/cosmos.evm.vm.v1.Msg/UpdateParams":{"post":{"tags":["EVM"],"summary":"UpdateParams defined a governance operation for updating the x/vm module\nparameters. The authority is hard-coded to the Cosmos SDK x/gov module\naccount","operationId":"Erc20Msg_UpdateParams","requestBody":{"description":"MsgUpdateParams defines a Msg for updating the x/vm module parameters.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cosmos.evm.vm.v1.MsgUpdateParams"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cosmos.evm.vm.v1.MsgUpdateParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/cosmos/evm/vm/v1/ethereum_tx":{"post":{"tags":["EVM"],"summary":"EthereumTx defines a method submitting Ethereum transactions.","operationId":"Erc20Msg_EthereumTx","parameters":[{"description":"from is the bytes of ethereum signer address. This address value is checked\nagainst the address derived from the signature (V, R, S) using the\nsecp256k1 elliptic curve","name":"from","in":"query","schema":{"type":"string","format":"byte"}},{"description":"raw is the raw ethereum transaction","name":"raw","in":"query","schema":{"type":"string","format":"byte"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cosmos.evm.vm.v1.MsgEthereumTxResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}}}},"/tokenization.v27.Msg/CastVote":{"post":{"tags":["Legacy tokenization versions"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_CastVoteMixin76","requestBody":{"description":"MsgCastVote allows a voter to cast or update their vote for a voting challenge.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.v27.MsgCastVote"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.v27.MsgCastVoteResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"CastVote"}},"/tokenization.v27.Msg/CreateAddressLists":{"post":{"tags":["Legacy tokenization versions"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_CreateAddressListsMixin76","requestBody":{"description":"MsgCreateAddressLists is used to create address lists.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.v27.MsgCreateAddressLists"}}}},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.v27.MsgCreateAddressListsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"CreateAddressLists"}},"/tokenization.v27.Msg/CreateCollection":{"post":{"tags":["Legacy tokenization versions"],"operationId":"GithubCombitbadgesbitbadgeschainMsg_CreateCollectionMixin76","requestBody":{"description":"MsgCreateCollection is used to create a new collection.","required":true,"content":{"application/jso
[...]
