---
description: "Interface: AuctionValidationResult — BitBadges TypeScript SDK interface."
---

# Interface: AuctionValidationResult

Defined in: [packages/bitbadgesjs-sdk/src/core/auctions.ts:6](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/auctions.ts#L6)

## Properties

### errors

> **errors**: `string`[]

Defined in: [packages/bitbadgesjs-sdk/src/core/auctions.ts:8](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/auctions.ts#L8)

***

### valid

> **valid**: `boolean`

Defined in: [packages/bitbadgesjs-sdk/src/core/auctions.ts:7](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/auctions.ts#L7)

***

### warnings

> **warnings**: `string`[]

Defined in: [packages/bitbadgesjs-sdk/src/core/auctions.ts:9](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/auctions.ts#L9)
