---
description: "Interface: BountyValidationResult — BitBadges TypeScript SDK interface."
---

# Interface: BountyValidationResult

Defined in: [packages/bitbadgesjs-sdk/src/core/bounties.ts:4](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/bounties.ts#L4)

## Properties

### errors

> **errors**: `string`[]

Defined in: [packages/bitbadgesjs-sdk/src/core/bounties.ts:6](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/bounties.ts#L6)

***

### valid

> **valid**: `boolean`

Defined in: [packages/bitbadgesjs-sdk/src/core/bounties.ts:5](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/bounties.ts#L5)

***

### warnings

> **warnings**: `string`[]

Defined in: [packages/bitbadgesjs-sdk/src/core/bounties.ts:7](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/bounties.ts#L7)
