---
description: "Interface: CrowdfundValidationResult — BitBadges TypeScript SDK interface."
---

# Interface: CrowdfundValidationResult

Defined in: [packages/bitbadgesjs-sdk/src/core/crowdfunds.ts:8](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/crowdfunds.ts#L8)

## Properties

### details?

> `optional` **details?**: `object`

Defined in: [packages/bitbadgesjs-sdk/src/core/crowdfunds.ts:12](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/crowdfunds.ts#L12)

#### crowdfunderAddress?

> `optional` **crowdfunderAddress?**: `string`

#### deadlineTime?

> `optional` **deadlineTime?**: `bigint`

#### depositDenom?

> `optional` **depositDenom?**: `string`

#### goalAmount?

> `optional` **goalAmount?**: `bigint`

***

### errors

> **errors**: `string`[]

Defined in: [packages/bitbadgesjs-sdk/src/core/crowdfunds.ts:10](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/crowdfunds.ts#L10)

***

### valid

> **valid**: `boolean`

Defined in: [packages/bitbadgesjs-sdk/src/core/crowdfunds.ts:9](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/crowdfunds.ts#L9)

***

### warnings

> **warnings**: `string`[]

Defined in: [packages/bitbadgesjs-sdk/src/core/crowdfunds.ts:11](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/crowdfunds.ts#L11)
