---
description: "Interface: PredictionMarketValidationResult — BitBadges TypeScript SDK interface."
---

# Interface: PredictionMarketValidationResult

Defined in: [packages/bitbadgesjs-sdk/src/core/prediction-markets.ts:365](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/prediction-markets.ts#L365)

## Properties

### details

> **details**: `object`

Defined in: [packages/bitbadgesjs-sdk/src/core/prediction-markets.ts:369](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/prediction-markets.ts#L369)

#### depositAmount?

> `optional` **depositAmount?**: `string`

#### depositDenom?

> `optional` **depositDenom?**: `string`

#### hasMintApproval

> **hasMintApproval**: `boolean`

#### hasNoWinsApproval

> **hasNoWinsApproval**: `boolean`

#### hasPushNoApproval

> **hasPushNoApproval**: `boolean`

#### hasPushYesApproval

> **hasPushYesApproval**: `boolean`

#### hasRedeemApproval

> **hasRedeemApproval**: `boolean`

#### hasYesWinsApproval

> **hasYesWinsApproval**: `boolean`

#### verifierAddress?

> `optional` **verifierAddress?**: `string`

***

### errors

> **errors**: `string`[]

Defined in: [packages/bitbadgesjs-sdk/src/core/prediction-markets.ts:367](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/prediction-markets.ts#L367)

***

### valid

> **valid**: `boolean`

Defined in: [packages/bitbadgesjs-sdk/src/core/prediction-markets.ts:366](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/prediction-markets.ts#L366)

***

### warnings

> **warnings**: `string`[]

Defined in: [packages/bitbadgesjs-sdk/src/core/prediction-markets.ts:368](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/prediction-markets.ts#L368)
