---
description: "Interface: ProductValidationResult — BitBadges TypeScript SDK interface."
---

# Interface: ProductValidationResult

Defined in: [packages/bitbadgesjs-sdk/src/core/products.ts:8](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/products.ts#L8)

## Properties

### details?

> `optional` **details?**: `object`

Defined in: [packages/bitbadgesjs-sdk/src/core/products.ts:12](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/products.ts#L12)

#### hasBurnApproval

> **hasBurnApproval**: `boolean`

#### productCount

> **productCount**: `number`

***

### errors

> **errors**: `string`[]

Defined in: [packages/bitbadgesjs-sdk/src/core/products.ts:10](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/products.ts#L10)

***

### valid

> **valid**: `boolean`

Defined in: [packages/bitbadgesjs-sdk/src/core/products.ts:9](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/products.ts#L9)

***

### warnings

> **warnings**: `string`[]

Defined in: [packages/bitbadgesjs-sdk/src/core/products.ts:11](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/products.ts#L11)
