---
description: "Interface: SmartTokenValidationResult — BitBadges TypeScript SDK interface."
---

# Interface: SmartTokenValidationResult

Defined in: [packages/bitbadgesjs-sdk/src/core/smart-tokens.ts:24](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/smart-tokens.ts#L24)

## Properties

### errors

> **errors**: `string`[]

Defined in: [packages/bitbadgesjs-sdk/src/core/smart-tokens.ts:26](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/smart-tokens.ts#L26)

***

### valid

> **valid**: `boolean`

Defined in: [packages/bitbadgesjs-sdk/src/core/smart-tokens.ts:25](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/smart-tokens.ts#L25)

***

### warnings

> **warnings**: `string`[]

Defined in: [packages/bitbadgesjs-sdk/src/core/smart-tokens.ts:27](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/core/smart-tokens.ts#L27)
