---
description: "Interface: VerificationResult — BitBadges TypeScript SDK interface."
---

# Interface: VerificationResult

Defined in: [packages/bitbadgesjs-sdk/src/api-indexer/verify-standards.ts:45](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/api-indexer/verify-standards.ts#L45)

## Properties

### standardsChecked

> **standardsChecked**: `string`[]

Defined in: [packages/bitbadgesjs-sdk/src/api-indexer/verify-standards.ts:48](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/api-indexer/verify-standards.ts#L48)

***

### valid

> **valid**: `boolean`

Defined in: [packages/bitbadgesjs-sdk/src/api-indexer/verify-standards.ts:46](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/api-indexer/verify-standards.ts#L46)

***

### violations

> **violations**: [`StandardViolation`](/sdk/reference/interfaces/standard-violation)[]

Defined in: [packages/bitbadgesjs-sdk/src/api-indexer/verify-standards.ts:47](https://github.com/BitBadges/bitbadgesjs/blob/master/packages/bitbadgesjs-sdk/src/api-indexer/verify-standards.ts#L47)
